*
  -webkit-box-sizing border-box
  box-sizing border-box

::-webkit-input-placeholder
  color var(--tonic-medium)

:-ms-input-placeholder
  color var(--tonic-medium)

::placeholder
  color var(--tonic-medium)
