@font-face
  font-family 'IBMPlexSans'
  font-style normal
  font-weight 400
  src local('IBMPlexSans'), local('IBMPlexSans'), url(/fonts/IBMPlexSans.ttf) format('ttf')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family 'IBMPlexSans-SemiBold'
  font-style normal
  font-weight 600
  src local('IBMPlexSans-SemiBold'), local('IBMPlexSans-SemiBold'), url(/fonts/IBMPlexSans-SemiBold.ttf) format('ttf')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family 'IBMPlexSans-Bold'
  font-style normal
  font-weight 700
  src local('IBMPlexSans-Bold'), local('IBMPlexSans-Bold'), url(/fonts/IBMPlexSans-Bold.ttf) format('ttf')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

*
  --tonic-body 'IBMPlexSans', sans-serif
  --tonic-header 'IBMPlexSans-SemiBold', sans-serif
  --tonic-subheader 'IBMPlexSans-Bold', sans-serif
  --tonic-monospace 'IBMPlexSans-Regular', monospace
