//
// TODO These are the default tonic colors
//
body
  --tonic-window #f8f8f8
  --tonic-primary #36393d
  --tonic-disabled #98a1af
  --tonic-secondary #e8e8e4
  --tonic-medium #999da0
  --tonic-accent #469ce8
  --tonic-border #e8e8e4
  --tonic-background #f7f7f5
  --tonic-notification #327dc3
  --tonic-danger #f06653
  --tonic-error rgba(240, 102, 83, 1)
  --tonic-success #85b274
  --tonic-warning #f9a967
  --tonic-info #999da0
  --tonic-nav #ffffff
  --tonic-border-light #d0d0d0
  --tonic-button-dark #388ad2
  --tonic-button #469ce8
  --tonic-input #fafafa
  --tonic-background-light #fff
  --tonic-notification rgba(240, 102, 83, 1)
