register-display
  display inherit
  margin 8px 0

register-display label
  color: var(--tonic-medium)
  font-weight: 500
  font: 12px/14px var(--tonic-subheader)
  text-transform: uppercase
  letter-spacing: 1px
  padding-bottom: 10px
  display: block

register-display div.tonic--register-display-content
  background-color var(--tonic-background-light)
  font: 16px/18px monospace
  border-style: solid 
  border-color: rgb(232, 232, 228)
  border-width: 1px
  border-radius: 2px
  padding: 10px

register-display div.tonic--register-display-content div.registers
  display: inline

register-display div.tonic--register-display-content div.register-name,
div.register-content
  display: inherit
  white-space: pre-wrap

register-display div.tonic--register-display-content div.register-name
  font-weight: 600

register-display div.tonic--register-display-content div.separator
  display: block
