// memory-display
//   height: 300px

// memory-display tonic-textarea
//   width: 560px

// div.memory-display-wrapper
//   width: 508px
//   height: 370px
//   overflow: scroll

// memory-display .th,
// memory-display .tr
//   overflow: scroll
//   border: 1px solid var(--tonic-border)
//   text-align-last: justify

// memory-display .header
//   padding-bottom: 10px
//   color: var(--tonic-medium)
//   font-weight: 500
//   font: 12px/24px var(--tonic-subheader)
//   text-transform: uppercase
//   letter-spacing: 1px

// memory-display .tr:hover
//   background: var(--tonic-accent)
//   color: white
//   cursor: default

// memory-display .td
//   white-space: nowrap
//   display: inline-block
//   text-overflow: ellipsis
//   font-family: var(--tonic-monospace)
//   font-size: 12px
//   height: 30px
//   line-height: 30px
//   flex-basis: 33.3%
//   padding: 0 2px
//   font-weight: 600
//   border-right: 1px solid var(--tonic-border)

// memory-display #memory-blocks
//   overflow: scroll
